# Environment Variables / Secrets
.env

# Virtual Environments
venv/
env/
.venv/
game_env/

# Python Cache & ByteCode
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
pytest_err.txt
out*.txt
error*.txt
coverage*.txt
cov*.txt

# IDE / Edits
.vscode/
.idea/
*.swp
*.swo

# Build & Dist
build/
dist/
*.egg-info/
